* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

table {
  width: 1220px;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
}

table tr {
  min-height: 60px;
  height: 60px;
}

table tbody tr td img {
  width: 100px;
}

table tbody tr td button {
  padding: 6px 12px;
}
