* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
}

.wrap .header {
  width: 1220px;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
}

.wrap .header ul {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
}

.wrap .header ul li {
  padding: 0 20px;
  float: left;
  line-height: 60px;
}

.wrap .header .underLine {
  display: block;
  width: 100px;
  height: 2px;
  background: pink;
  position: absolute;
}

.wrap .content {
  width: 1220px;
  margin: auto;
}

.wrap .content .left {
  width: 500px;
  height: 500px;
  float: left;
  position: relative;
}

.wrap .content .left .small {
  width: 100%;
  height: 100%;
}

.wrap .content .left .small img {
  width: 100%;
  height: 100%;
}

.wrap .content .left .small .mask {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none;
}

.wrap .content .left .big {
  position: absolute;
  left: 100%;
  top: 0;
  width: 500px;
  height: 500px;
  overflow: hidden;
  display: none;
}

.wrap .content .left .big img {
  width: 2500px;
  height: 2500px;
}

.wrap .content .right {
  width: 700px;
  float: left;
  margin-left: 20px;
}

.wrap .content .right .right-header h2 span {
  color: red;
  padding-left: 20px;
}

.wrap .content .right .title span {
  padding: 10px 20px;
  border: 1px solid #ccc;
  display: inline-block;
}

.wrap .content .right .title span.active {
  background: red;
  color: white;
}

.wrap .content .right .btn {
  width: 50%;
  height: 60px;
  margin-top: 20px;
  border: 0;
  background: orangered;
  color: #fff;
  font-size: 26px;
  border-radius: 10px;
}
