*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;
}
.wrap{ 
    width:100%;
    .header{
        width:100%;
        height:40px;
        background: #000;
    }
    .nav-bar{
        width:1220px;
        margin: auto;
        border-bottom: 1px solid #ccc;
        position: relative;
        height:60px;
        ul{
            width:100%;
            height:60px;
            line-height: 60px;
            >li{
                padding:0 10px;
                float: left;
            }
        };
        .con{
            position: absolute;
            top:60px;
            left:0;
            width:100%;
            display: none;
            background: pink;
            z-index: 999;
            dl{
                width:220px;
                height:400px;
                padding:10px;
                float: left;
                dt{
                    width:100%;
                    height:300px;
                    img{
                        width:100%;
                        height:100%;
                    }
                }   
                dd{
                    p:nth-child(2){
                        color: red;
                    }
                }
               
            }
        }
        .search{
            float: right;
            margin-top:15px;

        }
        
    }
    .sort{
        width:1220px;
        margin: auto;
        height:60px;
        margin-bottom: 20px;;
        line-height: 60px;
        span{
            padding:0 20px;
        }
    }
    .content{
        width:1220px;
        margin: auto;
        dl{
            width:300px;
            float: left;
            height:500px;
            padding:0 10px;
            position: relative;
           
            dt{
                width:100%;
                height:300px;
                img{
                    width:100%;
                    height:100%;
                }
                &:hover  .buy{
                    display: block;
                }
            }
            dd{
                text-align: center;
                p:nth-child(2){
                    color: red;
                }
            }
            ul{
                width:100%;
                text-align: center;
                li{
                    display: inline-block;
                    width:50px;
                    height:50px;
                    img{
                        width:100%;
                        height:100%;
                        &.active{
                            border: 2px red solid;
                        }
                    }
                }
            }
            .buy{
                display: none;
                position: absolute;
                height:300px;
                width:100%;
                top:0;
                left:0;
                button{
                    width:80%;
                    margin: 0 10%;
                    height:45px;
                    position: absolute;
                    top:50%;
                    transform: translate(0,-50%);
                    background: pink;
                    border: 0;
                    border-radius: 25px;
                }
            }
        }
       
    }
    .page{
        width:1220px;
        margin: auto;
        text-align: center;
        li{
            display: inline-block;
            padding:6px 12px;
            border: 1px solid #ccc;
            margin: 0 10px;
            &.active{
                background: red;
                color: #fff;
            }
        }
    }

  
}



